.pagecontainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: stretch;
  align-content: flex-start;
  row-gap: 10px;
}
.sidebar {
        flex: 1;
		}
.content {
        flex: 1;
		flex-grow: 4;
		}
.end {
        flex: 1;
		}
		
.mySearch {
   background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.list {
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center
}

.border-bottom {
    border-bottom: 2px solid #eee
}

.list small {
    color: #dedddd
}
.active{
	color: #325ea8
}

.sidebarButton {
	font-size: 16px;
	text-decoration: none;
	position: relative;
	padding: 5px;
	margin-bottom: var(--space-sm);
	text-align: left;
	border: 0px;
	background-color: transparent;
	width: 100%;
	display: flex;
    justify-content: space-between;
    align-items: center;
	 white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	outline: none;
}
.sidebarButton:hover{
	background-color: #f6f6f6;
	text-decoration: none;
	border: 0px;
	outline: none;
}
.sidebarButton:active{
	background-color: #f6f6f6;
	text-decoration: none;
	border: 0px;
	outline: none;
}
.sidebarButton:focus{
	background-color: #f6f6f6;
	text-decoration: none;
	border: 0px;
	outline: none;
}
