@import url(https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap);
 
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

body {
    margin: 0;
    font-family: Encode Sans Semi Condensed,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
	overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Bitter,serif;
    font-weight: 700
}

a, h1 {
    color: #900
}

h1 {
    font-size: 2.2em
}

h2 {
    font-size: 1.6em;
    color: #900
}

h3, h4, h5, h6 {
    font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bitter,serif;
    font-weight: 700;
}

b, strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

.customH1 {
    font-family: Bitter,serif;
    font-weight: 700;
    font-size: 1.6em;
    color: #900;
}

.customH2, .customH3, .customH4 {
    font-family: Bitter,serif;
    font-weight: 700;
    font-size: 1.1em;
    color: #000000;
}


ol, ul {
    list-style: none;
    padding-inline-start: 0px;
}
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  * {
    box-sizing: border-box;
  }
  
  img {
    display: block;
  	max-width: 100%;  	
  }

.maincontainer {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
 
}

.page {
  width: calc(100% - 10vw);
  height:100%;
  margin-left:5vw;
  height:100%;
  position:relative;
  margin-top:2vh;

}

.embedVideo {
	display: block;
	width:560px!important;
}


.pagecontainer {
  display: grid;
  grid-template-columns: 15vw auto;   
  grid-column-gap: 10px;
  width: calc(100% - 10vw);
  height:100%;
  margin-left:5vw;
  height:100%;
  position:relative;
  flex-grow: 1;
}
.sidebar {
        
		}
.content {
  heigth:100%;
  margin-bottom:5vh;
		}


.header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index:6000;
	background-color:white!important;

}
.footer{
	display:absolute;
	width: 100%;
	background-color: #fff;
	z-index:6000;
	}
.footer-infos{
	line-height: 130%;
}
	
.overall_content{
  margin-top: 7em;
  height: 100%;
  flex-grow: 1;
}
	
.end {
       
		}

.main-content {
  
  margin: auto;
  padding: 0;
  & > *:first-child {
    margin-top: 0 !important;
  }

  & > *:last-child {
    margin-bottom: 0 !important;
  }


  iframe {
    width: 100%;
  }

  a {
    transition: 0.3s;
	text-decoration: none;
    color: #990000;
    font-weight: 600;
	
    &.anchor {
      display: block;
      padding-left: 30px;
      margin-left: -30px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
  p,
  blockquote,
  ul,
  ol,
  dl,
  li,
  table,
  pre {
    margin: 5px 0;
  }


  & > h2:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  & > h1:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  & > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
  }

  & > h3:first-child,
  & > h4:first-child,
  & > h5:first-child,
  & > h6:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  a:first-child h1,
  a:first-child h2,
  a:first-child h3,
  a:first-child h4,
  a:first-child h5,
  a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
  }

  h1 p,
  h2 p,
  h3 p,
  h4 p,
  h5 p,
  h6 p {
    margin-top: 0;
  }

  li p {
    display: inline-block;
	margin:0px;
  }

  ul,
  ol {
    padding-left: 30px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  dl {
    padding: 0;

    dt {
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      padding: 0;
      margin: 15px 0 5px;

      &:first-child {
        padding: 0;
      }

      & > :first-child {
        margin-top: 0;
      }

      & > :last-child {
        margin-bottom: 0;
      }

      dd {
        margin: 0 0 15px;
        padding: 0 15px;

        & > :first-child {
          margin-top: 0;
        }

        & :last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  table {
    padding: 0;

    tr {
      border-top: 1px solid #cccccc;
      background-color: white;
      margin: 0;
      padding: 0;

      &:nth-child(2n) {
        background-color: #f8f8f8;
      }

      th {
        font-weight: bold;
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px;
      }

      td {
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px;
      }

      th:first-child,
      td:first-child {
        margin-top: 0;
      }

      th:last-child,
      td:last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    max-width: 100%;
  }

  span.frame {
    display: block;
    overflow: hidden;

    & > span {
      border: 1px solid #dddddd;
      display: block;
      float: left;
      overflow: hidden;
      margin: 13px 0 0;
      padding: 7px;
      width: auto;

      img {
        display: block;
        float: left;
      }

      span {
        clear: both;
        color: #333333;
        display: block;
        padding: 5px 0 0;
      }
    }
  }

  span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
  }

  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
  }

  span.align-center span img {
    margin: 0 auto;
    text-align: center;
  }

  span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
  }

  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
  }

  span.align-right span img {
    margin: 0;
    text-align: right;
  }

  span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
  }

  span.float-left span {
    margin: 13px 0 0;
  }

  span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
  }

  span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
  }

  code,
  tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
  }

  pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
  }

  .highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
  }

  pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;

    code,
    tt {
      background-color: transparent;
      border: none;
    }
  }
}


.top-section-header {
    position: absolute;
    width: 100%;
    top: 10vw;
	text-align: center;
}
.top-section .hl_border:after {
    content: " ";
    border-top: 2px solid #990000;
    width: 32%;
    position: absolute;
    z-index: 4000;
    bottom: 60px;
    left: 33%;
}

.customTable, .customTr, .customTd {
    border: none;
}

.h2main {
		font-family: 'Bitter',serif;
		font-size: 1.6em;
		font-weight: 500;
		color: #000000;
		margin-block-start: 0.23em!important;
		margin-block-end: 0.23em!important;
	}
	
	.h2main1 {
		font-family: 'Bitter',serif;
		font-size: 1.3em;
		font-weight: 600;
		color: #000000;
	}

.hl-img-wrapper {
    width: 100%;
    margin-top: 60px;
}

.hl-img-wrapper p {
   text-align: center;
}
.hl-img-wrapper h2 {
    text-align: center;
    font-size: 1.7em;
}

.hl-img-wrapper img {
    width: 100%;
    object-fit: cover;
}

.hl-img-wrapper a {
   text-decoration: none;
   color: #990000;
}

.product-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width:100%;
	margin-top:3vh
}

.product-grid-item{
	
	align-self: stretch;
	background-color: #F2F3F4;
	width: 100%;
	margin-top:1vw;
}

.productHeader {
    font-family: Bitter,serif;
    font-weight: 700;
    font-size: 1.0em;
    color: #000000;
	margin: 0 0 0 0;
}

.productText {
    font-size: 0.9em;
	margin: 0 0 0 0;
}

.productTable {
	cursor:pointer;
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	box-shadow: -1px 2px 8px 0px #ccc;
}

.productTableCell {
	height: 100%;
	vertical-align: top;
    border: none!important;
	padding: 8px 1% 8px 2%;
}
	
.list {
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center
}

.border-bottom {
    border-bottom: 2px solid #eee
}

.list small {
    color: #dedddd
}

.sidebarButton {
	font-size: 16px;
	text-decoration: none;
	position: relative;
	padding: 5px;
	margin-bottom: 5;
	text-align: left;
	border: 0px;
	background-color: transparent;
	width: 100%;
	display: flex;
    justify-content: space-between;
    align-items: center;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	outline: none;
	
	&:hover,
	&.active {
   background-color: lightgray;
	color: black;
	text-decoration: none;
	border: 0px;
	outline: none;
	}
}

.mdxImage {
	display: inline-block;
	position: static;
}
.gatsby-resp-image-image {
	position: static !important;
}

.gatsby-resp-image-background-image { 
	padding-bottom:0 !important;
	}



.dropdown-listitem {
    border-bottom: none;
	cursor:pointer;
	font-weight: normal;
	line-height: 1.5;
	color: white;
	white-space: nowrap;
	outline: none!important;
    text-align: left;

	margin-bottom: 2vh;
	
	&:hover {
     color: white;
	}
	&.a {
     color: #000;
     text-decoration: none;
	}
}
.dropdown-list{
	margin-top: 1vh;
	column-count: 2;
    margin-left: -17em;
	list-style-type: none;
	border-radius: 5px;
    background-color: #990000;
	position: absolute;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-right: 1.5vw;
    padding-left: 1.5vw;
}

.dropdown {
    display: inline-block;

}

.dropdown-arrow {
	 content: "";
     border-color: transparent transparent #990000 transparent;
     border-style: solid;
     border-width: 7px;
     width: 0;
     height: 0;
     position: absolute;
     top: 1.7em;
     right: 12em;

}

.dropdown-content{
	display: none;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
 
}

.dropdown:hover .dropdown-button {
	text-decoration: none;
	color: #990000;
	
}


.dropdown-button {
	font-size: 16px;
	text-decoration: none;
	padding-top: 3px;
    padding-right: 22px;
    padding-bottom: 3px;
    padding-left: 22px;
	margin-bottom: 5;
	text-align: center;
	border: 0px;
	background-color: transparent;
	cursor:pointer;

    &:after {
      opacity: 1;
      bottom: -10px;
      width: 100%;
    }
	
	&.is-active {
		text-decoration: none;
		color: #990000;
		font-weight: 600;
	}
}

.footer-wrapper {
    padding: 0px;
    margin-top: 0px;
    width: 100%;
}

.footer-wrapper ol, .footer-wrapper ul {
    list-style: none;
}

.footer-inner {
    margin-top: 1vh;
    width: 100%;
    margin-left: 5vw;
    padding: 0px 0;
    color: #212529;
    font-weight: 400;
    font-size: 0.9em;
}

.footer-inner-left {
    float: left;
    text-align: left;
    width: auto;
}

.footer-inner-right {
    line-height: 1.5;
    text-align: right;
    margin-bottom: 0;
    margin-right: 10vw;
    padding: 0px;
}
.footer-email {
    font-weight: 700;
    text-decoration: none!important;
}

.footer-nav {
    margin-bottom: 4px;
}

    .footer-wrapper .footer-inner .footer-nav a {
        color:  #990000;
		text-decoration: none;
    }

.footer-navi-ul li {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
}

.footer-navi-ul li .dividor {
    display: inline-block;
    padding: 0 2px;
}

.header-wrapper {

}
.header-container {
  display: flex;  
  flex-direction: row;
  margin: 0 auto;
  
  align-items: center;
  padding: 5;
  height:52px;
  position: relative;
  width: calc(100% - 10vw);
}

.footer-container {
  display: flex;  
  flex-direction: row;
  margin: 0 auto;
  
  align-items: center;
  padding: 5;
  position: relative;
  border-bottom: 3px solid #990000;  
  width: 100%;
}

.logo-link {
  display: inline-block;
  margin-right: 0.5rem;
  width: 60px;
}
.title-link {
  display: inline-block;
  margin-right: 0.5rem;
  font-weight: bold;
  width: 25vw;
}
.nav-menu {
  width: 100%;  
  text-align: right;    
  display: block;
   &.is-active {
    display: block;
  }
}

.language_dropdown {
    display: inline-block;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	margin: 0
}

.language_dropdown_content{
	display: none;
	z-index: 1;
}

.language_dropdown_list{
	margin-top: 0px;
	column-count: 1;
	list-style-type: none;
	position: absolute;
	background-color: white;
	
}

.language_dropdown:hover .language_dropdown_content {
  display: block;
}

.language-button {
	font-size: 16px;
	text-decoration: none;
	padding-top: 3px;
    padding-right: 22px;
    padding-bottom: 3px;
    padding-left: 22px;
	text-align: center;
	border: 0px;
	background-color: transparent;
	cursor:pointer;

    &:after {
      opacity: 1;
      bottom: -10px;
      width: 100%;
    }
	
	&.is-active {
		text-decoration: none;
		color: #990000;
		font-weight: 600;
	}
}

.language-link {
  font-size: 16px;
	text-decoration: none;
	padding-top: 3px;
    padding-right: 22px;
    padding-bottom: 3px;
    padding-left: 22px;
	text-align: center;
	border: 0px;
	background-color: transparent;
	cursor:pointer;
	color: #990000;
	font-weight: 600;

}

.navigation {
	overflow: hidden;
}

.navigation-link {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding-top: 3px;
  padding-right: 22px;
  padding-bottom: 3px;
  padding-left: 22px;
	
	&:hover {
		text-decoration: none;
		color: #990000;
	}
	&.is-active {
		text-decoration: none;
		color: #990000;
		font-weight: 600;
	}
}



.sidebar-content {
  position: fixed;
  margin-top: 1vh;
  width: 15vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  
  .sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
	}

.sidebar-item-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  &:hover,
  &:active,
  &:focus {
    font-weight: bold;
    background-color: #f6f6f6;
	border: 0px;
    }
}
}
.title-wrapper {
  line-height: 140%;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5;

}
.custom-section {
  margin-bottom: 5vh;
  display: grid;
  grid-gap: 5vh;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  width: 100%
}
.custom-bold {
  font-weight: bold;
}
.custom-border {
  border: 1px;
  border-style: solid;
}
.custom-image {
	display:inline-block;
	align: bottom;
	text-align: bottom;
}
.custom-italic {
  font-style: italic;
}
.custom-menu {
  font-weight: bold;
}

.customBlockquote
{
	font-size: 2.5rem;
	text-decoration: none;
}
.customBlockquoteTable
{
	border-collapse:collapse!important;
}

.customBlockquoteTableColumn
{
	border-style : hidden!important;
	text-align: center;
	
	.success {
		background: #ddffdd;
		}
	.info {
		background: #e7f3fe;
	}
	.danger {
		background: #ffdddd;
		}
	.warning {
		background: #ffffcc;
		}
	.example {
		background: #f0f0f8;
		}
}

.success {
  background: #ddffdd;
  border-left: 6px solid #04AA6D;
  position: relative;
  border-left-width: 3px;
  border-left-style: solid;
  padding: 1rem 1rem;
  border-radius: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.info {
  background: #e7f3fe;
  border-left: 6px solid #2196F3;
  position: relative;
  border-left-width: 3px;
  border-left-style: solid;
  padding: 1rem 1rem;
  border-radius: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
}
.danger {
  background: #ffdddd;
  border-left: 6px solid #f44336;
  position: relative;
  border-left-width: 3px;
  border-left-style: solid;
  padding: 1rem 1rem;
  border-radius: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
}
.warning {
  background: #ffffcc;
  border-left: 6px solid #ffeb3b;
  position: relative;
  border-left-width: 3px;
  border-left-style: solid;
  padding: 1rem 1rem;
  border-radius: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
}
.example {
  background: #f0f0f8;
  border-left: 6px solid #ABABAB;
  position: relative;
  border-left-width: 3px;
  border-left-style: solid;
  padding: 1rem 1rem;
  border-radius: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
}
.code {
  background: #f0f0f8;
  position: relative;
  padding: 2rem 1.5rem;
  border-radius: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  overflow-wrap: break-word;
}
.custom-underline {
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.contact-info-link {	
  font-weight: 600;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  font-size: .8em; }

.contact-info {
  height: 46px;
  width: 102%;
  margin: -4px 0 0 -1%;
  background-color: #eae6e6;
  border-bottom: 2px solid #990000;
  box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.5) inset;
  overflow: hidden;
  overflow-x: hidden; }

.contact-inner {
  padding-top: 11px;
  margin: 0 auto;
  }

.contact-inner-left {
  display: inline-block;
  margin-left: 15vw;
  }

.contact-inner-right {
  text-align: right;
  float: right;
  margin-right: 5vw;
  display: inline-block; 
  font-weight: 600;
  font-size: 1.13em;
  }

.contact-logo {
  position: absolute;
  width: 80px;
  margin-top: -65px; }

.flag {
  margin-top: 3px;
  background-size: contain;
  background-repeat: no-repeat;  
  display: inline;
  position: absolute;
  }
 .mail
 {
	font-size: 1.13em;
 }
.flag-mail {
  margin-top: 5px;
  background-size: contain;
  background-repeat: no-repeat;  
  display: inline;
  position: absolute;
  }

.inlines {
	display: inline;
}
.search-input {
	font-family: Encode Sans Semi Condensed,sans-serif!important;
    font-size: 1.2rem!important;
}

.search_before
{
	font-family: Encode Sans Semi Condensed,sans-serif;
	font-size: 1.2rem;
}

.input-addon
{
	background-color: white!important;
	border: none!important;
}

.input-group{
  border-color: black;
	background-color: white;

}
.searchheader{
	color: #990000;
	white-space: nowrap;
	font-family: 'Bitter',serif;
	font-size: 1.2rem;
    font-weight: bold;
	word-wrap: break-word!important;
	margin-block-start: 0.2em!important;
    margin-block-end: 0.2em!important;
}

.searchresulttext{
	white-space: nowrap;
}

.customSeperator
{
  border: none;
  border-top:  1px dashed lightgray;
  height: 1px!important;
  margin: 0px!important;
  padding: 0px!important;
}

.searchResContainer
{
	cursor:pointer;
	padding: 10px;
	margin: 0px;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	align-content: center;
	font-size: 1rem;
}


.downloadLink{
	text-decoration: none!important;
	color: #212529;
}

